<ion-content>
  <div class="cuerpo inicio" >
    <app-header></app-header>

    <div class="container">
      <h2>{{ usuario.usuario.USU_NOMBRES}} {{usuario.usuario.USU_APELLIDO_PATERNO}}</h2>
      <h1>{{ usuario.usuario.PER_NOMBRE}} CORREOS DE CHILE </h1>
      <h3><strong>Local:</strong> Liceo A-3</h3>
      <div class="tareas">
        <div class="dia-bolsa" *ngFor="let aplicacion of usuario.aplicaciones">
          <button class="dia"  (click)="ClickIniciarDia($event)" *ngIf="aplicacion.APLI_METODO === 'SIN METODO'; else mostrarAplicaciones">				
            <img class="icono-home" src={{aplicacion.APLI_IMG}} />{{diaIniciado}}
          </button>
          <ng-template #mostrarAplicaciones >
            <a class="dia inactivo disabled" routerLink={{aplicacion.APLI_METODO}}>
              <img class="icono-home" src={{aplicacion.APLI_IMG}} />{{aplicacion.APLI_NOMBRE}}
            </a>
          </ng-template>
       </div>
      </div>
   </div>

   <app-footer></app-footer>
 </div>
</ion-content>


