<body class="cuerpo rutas">
  <app-header></app-header>
  <div class="container">
       <h1>Crear ruta</h1>
       <h3><strong>Cargo:</strong> Transportista</h3>
       <h3><strong>Camión asignado:</strong> ZW - 45 56</h3>

       <div class="crear-ruta">
           <select name="select">
               <option value="value1" selected>Seleccione un origen</option> 
               <option value="value2">Origen 01</option>
               <option value="value3">Origen 02</option>
               <option value="value2">Origen 03</option>
               <option value="value3">Origen 04</option>
           </select>

           <a class="btn-principal" (click)="asignarCarga()" >ASIGNAR CARGA</a>

           <select name="select">
               <option value="value1" selected>Seleccione un destino</option> 
               <option value="value2">Destino 01</option>
               <option value="value3">Destino 02</option>
               <option value="value2">Destino 03</option>
               <option value="value3">Destino 04</option>
           </select>
       </div>

       <div class="tabla tabla-carga-asignada">
           <table>
               <tr>
                   <th class="radio_inicial">Carga asignada</th>
               </tr>
               <tr>
                   <td>EFTV-35766878564</td>
               </tr>
               <tr>
                   <td>EFTV-35766878564</td>
               </tr>
               <tr>
                   <td>EFTV-35766878564</td>
               </tr>
               <tr>
                   <td>EFTV-35766878564</td>
               </tr>
               <tr>
                   <td>EFTV-35766878564</td>
               </tr>
               <tr>
                   <td>EFTV-35766878564</td>
               </tr>
               <tr>
                   <td>EFTV-35766878564</td>
               </tr>
               <tr>
                   <td>EFTV-35766878564</td>
               </tr>
               <tr>
                   <td>EFTV-35766878564</td>
               </tr>
               <tr>
                   <td>EFTV-35766878564</td>
               </tr>
               <tr>
                   <td>EFTV-35766878564</td>
               </tr>
           </table>
       </div>

       <div class="caja-cuadrar">
           <a class="btn-alternativo" href="mis_rutas.html">CREAR RUTA</a>
       </div>
  </div>
  <footer class="pie">
      <p>© Derechos reservados Correos de Chile</p>
  </footer>
</body>