body.rutas{
    .container{
        h1{
            padding-top: 20px;
        }
        table{
            width: 90%;
            height: auto;
            max-height: 600px;
            background-color: white;
            margin-left: 5%;
            margin-top: 20px;
            border-radius: 15px;
            border-spacing: 0;
            font-size: 4vw;
            box-shadow: 0px 6px 23px 0px rgba(0,0,0,0.23);
            tr{
                th{
                    background-color: #343434;
                    color: white;
                    font-weight: 300;
                    padding: 3px 0;
                }
                th.radio_inicial{
                    border-radius: 10px 0 0 0;
                }
                th.radio_final{
                    border-radius: 0 10px 0 0;
                }
                td{
                    padding: 10px 0;
                    a{
                        border-radius: 5px;
                        text-decoration: none;
                        color: white;
                        padding: 2px 5px;
                        display: block;
                        margin: 0 auto;
                        width: 70%;
                        svg{
                            width: 10px;
                            height: 10px;
                        }
                    }
                    a.btn_realizado{
                        background-color: $verde;
                    }
                    a.btn_en_curso{
                        background-color: $rojo-correos; 
                    }
                    a.btn_iniciar{
                        background-color: #343434;
                    }
                }
            }  
        }
        a.crear_ruta{
            color: $negro;
            text-decoration: none;
            border: 1px solid $negro;
            padding: 10px 0;
            width: 90%;
            margin-left: 5%;
            display: block;
            border-radius: 25px;
            position: absolute;
            bottom: 10vh;
        }
    }
}