.tabs {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    overflow: hidden; 
    .tab-2 {
        width: 50%;
    }
}

.tabs [class^="tab"] label.label-tab,
.tabs [class*=" tab"] label.label-tab {
color: $negro;
cursor: pointer;
display: block;
text-transform: uppercase;
font-size: 16px;
font-weight: 600;
line-height: 1em;
padding: 2rem 0;
text-align: center; 
}

.tabs [class^="tab"] [type="radio"],
.tabs [class*=" tab"] [type="radio"] {
border-bottom: 3px solid rgba(239, 237, 239, 0.5);
cursor: pointer;
appearance: none;
display: block;
width: 100%;
transition: all 0.3s ease-in-out;
outline: none;
}

.tabs [class^="tab"] [type="radio"]:hover, .tabs [class^="tab"] [type="radio"]:focus,
.tabs [class*=" tab"] [type="radio"]:hover,
.tabs [class*=" tab"] [type="radio"]:focus {
border-bottom: 3px solid #FFC0C0;
outline: none;}


.tabs [class^="tab"] [type="radio"]:checked,
.tabs [class*=" tab"] [type="radio"]:checked {
border-bottom: 3px solid $rojo-correos;}


.tabs [class^="tab"] [type="radio"]:checked + div,
.tabs [class*=" tab"] [type="radio"]:checked + div {
opacity: 1;}


.tabs [class^="tab"] [type="radio"] + div,
.tabs [class*=" tab"] [type="radio"] + div {
display: block;
opacity: 0;
padding: 2rem 0;
width: 90%;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out; }


.tabs .tab-2 [type="radio"] + div {
    width: 200%;
    margin-left: 200%;
    position: relative;}

.tabs .tab-2 [type="radio"]:checked + div {
    margin-left: 0; }

.tabs .tab-2:last-child [type="radio"] + div {
    margin-left: 100%; }

.tabs .tab-2:last-child [type="radio"]:checked + div {
    margin-left: -100%; }